<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?= $tittle ?></title>
        
        <!--Js para drag and drop-->
        <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
        </script>
        <!--usando bootstrap-->
        <link href="../css/bootstrap.min.css" rel="stylesheet">  
        <link href="../css/custom.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    </head>
    
    <!--scroll: update links in navigation automatically-->
    <body data-spy="scroll" data-target="#data-scrollspy">
        <!--Pestañas de inicio con Bootstrap-->
        <div class="container ">
            <header class="py-4">
                <h1 style="text-align: center">Desarrollo de aplicaciones web</h1>
            </header>  
            
            <!--Static navbar con Bootstrap-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="../Lab02/Lab%202_A01209924.html">Home</a>
						</li>
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Labs
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../Lab02/Lab%202_A01209924.html">Lab 3</a>
								<a class="dropdown-item" href="../Lab04/Lab04_A01209924.html">Lab 4</a>
                                <a class="dropdown-item" href="../Lab05/Lab05_A01209924.html">Lab 5 y 6</a>
                                <a class="dropdown-item" href="../Lab07/Lab07_A01209924.html">Lab 7</a>
                                <a class="dropdown-item active" href="../Lab07/Lab09_A01209924.html">Lab 9</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>  
        </div> 